<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liangwei.learnspring.dao.StudentMapper">

    <resultMap id="student" type="com.liangwei.learnspring.domain.Student">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="age" column="age"/>
    </resultMap>

    <select id="getStudentNums" resultType="int">
        select count(*) from student
    </select>

    <select id="getStudentById" resultMap="student">
        select * from student where id=#{studentId}
    </select>
</mapper>